<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">

            <a class="navbar-brand me-5" style="height: 60px;" href="/admin"><i class="fab fa-stripe" style="height: 40px; width: 40px;"></i></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" aria-current="page" href="">All Products</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" aria-current="page" href="/admin/products">Add Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="#">All Orders</a>
                    </li>
                   
                </ul>

                <form class="d-flex" action="/admin/logout">
                    <button class="btn btn-success" type="submit">Logout</button>
                </form>
            </div>
        </div>

        </div>
    </nav>
</header>